{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}{% endblock %}
    <meta charset="utf-8">
    <title>Gestion de stock</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'javascript/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/70a92a2992.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  {% block body%}
    <div class="content">
    <div class="add component">
        <button type="button" class="btn btn-info" onclick="popup()">Ajouter</button>
        <button type="button" class="btn btn-info" onclick="popup()">Supprimer</button>
        <button type="button" class="btn btn-info" onclick="popup()">Modifier</button>
    </div>
    <div class="title">
        <h1>Gestion de stock</h1>
    </div>

    <div class="component buttons">
      <button type="button" class="btn btn-info button-campus" onclick="displayTable('provider')">Fournisseurs</button>
      <button type="button" class="btn btn-outline-info button-building" onclick="displayTable('article')">Article</button>
    </div>
    </div>

    <div class="display component">
        <table class="table campus ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Modification / Suppresion</th>
                </tr>
            </thead>
            <tbody>
              {% for a in article %}
              <tr class="{{c.id}}">
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{a.name}}</td>
                  <td>{{a.price}}</td>
                  <!--td>
                      <a href="{% url 'edit_campus' c.id %}" class="btn btn-warning"><i class="fas fa-tools"></i></a>
                      {% csrf_token %}
                      <a href="/edit/campus/{{c.id}}/delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                  </td-->
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  
  {% endblock body%}
</body>
</html>